<div class="header" id="component-header">
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button icon="md-arrow-back" id="back_arrow" onclick="app.main.backClick()"></ons-toolbar-button>
        </div>

        <div class="center">{{title}}</div>
<!--
        <div class="right">
            <ons-toolbar-button>-</ons-toolbar-button>
            <ons-toolbar-button>+</ons-toolbar-button>
        </div>
-->
    </ons-toolbar>
</div>
<!--

<ons-toolbar>
    <div class="left">
        <ons-toolbar-button icon="md-face"></ons-toolbar-button>
    </div>

    <div class="center">Title</div>
</ons-toolbar>

-->