<ul class="list list--inset">
    {{#each cheatList}}
    <ons-list-item modifier="longdivider" style="min-height: 60px;">
        <div class="left" style="margin-right:15px; min-width:86px;">
            {{#if (triggerButton trigger)}}
            <button class="button button--material" style="font-size:12px;" onclick="{$}onTrigger(event.value, {{this.id}});" {{disabled this.hasCheats}}>{{triggerName trigger}}</button>
            {{else}}

            {{/if}}
        </div>
        <div class="center">
            <div style="color:{{cheatTextColor this}}; font-size:14px;">
                {{this.name}}
            </div>
        </div>
        <div class="right">
            <ons-switch {{checked this.enabled}} onchange="{$}onChange(event.value, {{this.id}});"></ons-switch>
            <button class="button button--material--flat" onclick="{$}onReset(event.value, {{this.id}});">Reset</button>
        </div>
    </ons-list-item>
    {{/each}}
</ul>